# Output files
*.out
*err.txt

# Large data files
diversity_raster.csv

# Python
__pycache__/
*.pyc

# Generated simulations
simulations/

# Generated figures
figures/

# Generated runtime files
initial_conditions.champs
